@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Oswald:wght@200;300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --nav-color: #B83B5E;
    --primary-color: #eeecda;
    --sec-color: #FEFEFE;
    --speci: #F08A5D;
    --speci-1: #6A2C70;
    --primary-font: 'Lato', sans-serif;
    --sec-font: 'Oswald', sans-serif;
}

p#demo {
    font-size: 2rem !important;
    font-weight: bolder;
}

.container-fluid {
    padding-left: 7px;
    padding-right: 7px;
}

.navbar,
#footer {
    background: var(--nav-color);
}

.navbar {
    height: 80px;
    z-index: 2;
    top: 0;
    position: sticky;
}

.fas.fa-bars {
    color: white;
}

.brand-text {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: var(--primary-color) !important;
}

#heading,
#sub {
    background: var(--primary-color);
}

.title {
    text-align: center;
    font-family: var(--primary-font);
    color: var(--speci-1);
    margin-top: 90px;
}

.title3 {
    text-align: center;
    font-family: var(--primary-font);
    color: var(--speci-1);
    margin-top: 13px;
}

.title-1 {
    text-align: center;
    font-family: var(--primary-font);
    color: var(--speci-1);
    margin-top: 90px;
}

.title-2 {
    align-items: center;
    font-family: var(--primary-font);
    color: var(--speci-1);
    margin-top: 90px;
}

.title-1 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.title-2 h3 {
    font-family: var (var(--primary-font));
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    align-items: center;
}

.title3 h2 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    align-items: center;
}

.title h2 {
    padding-top: 60px;
    padding-bottom: 5px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    align-items: center;
}

.title3 p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
}

.title-1 p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.title-2 p {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
}

.title-1 h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.title h2 {
    margin-bottom: 1.5rem;
}

.aic {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a {
    color: var(--speci-1);
    text-decoration: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: #001737d8;
    transition: all .3s;
}

.button {
    display: inline-block;
    border: 1px solid var(--speci);
    padding: 12px 30px;
    color: var(--speci-1);
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    z-index: 1;
    transition: all .5s;
}

.button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--nav-color);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;
}

.button.button2:hover {
    color: white;
}

.button:hover:before {
    width: 100%;
}

.button.button1 {
    background: var(--speci);
}

.button.button2 {
    background: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    color: var(--speci-1);
}

.button::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 100%;
    content: "";
    background-color: #001737;
    z-index: -1;
    border-radius: 5px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#about,
#how,
#testimonial {
    background: var(--sec-color);
}

#how .title h2 {
    margin-bottom: 2.5rem;
}

.card {
    margin-bottom: 20px;
    border: none;
}

.body-card {
    height: 390px;
    background: var(--primary-color);
    border: 1px solid var(--speci);
    border-radius: 20px;
}

.body-text {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    margin-bottom: 1.2rem;
}

.card-image {
    margin-bottom: 2.3rem;
}

.body-text2 {
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
}

p.card-text.text2 {
    align-self: flex-end;
}

.features-image {
    margin-bottom: 30px;
}

.features-content p {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.features-icon .mdi {
    display: inline-block;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
}

.single-features-item {
    border: 1px solid var(--speci);
}

.single-features-item {
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 10px 40px -6px rgba(0, 0, 0, .1);
    box-shadow: 10px 10px 40px -6px rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 20px;
    background: var(--primary-color);
}

.admin {
    clip-path: circle(49% at 50% 18%);
}

p {
    color: var(--speci-1);
}

.testimonial {
    border: 5px solid #B83B5E;
    border-radius: 20px;
    height: 331px;
    background: var(--primary-color);
}

.fas.fa-quote-right,
.fas.fa-quote-left {
    color: var(--nav-color);
}

hr {
    color: var(--speci);
    border: 2px solid var(--speci);
}

.carousel-control-prev.left.carousel-control {
    color: #F08A5D !important;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #F08A5D !important;
}

form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    background: #FEFEFE;
    border: 1px solid #333333;
    border-radius: 0;
    color: black;
    height: 50px;
}

textarea.form-control {
    height: 150px;
}

.title h2 {
    margin-top: 70px;
}

#sub {
    padding-bottom: 60px;
}

.subscribe {
    margin-bottom: .5rem !important;
}

#sub p {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
}

.sub-2 {
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    margin-top: 1.2rem;
    color: var(--speci-1) !important;
}

.sub-2:hover {
    color: white !important;
}

#rC_F {
    background: #EEECDA;
    color: #B83B5E;
}

@media screen and (max-width:630px) {
    form {
        width: 100%;
    }
    .title-1 h3 {
        font-size: 16px;
        line-height: 19px;
    }
    .title-1 p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }
    .title-1 h1 {
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
    }
    p#demo {
        font-size: 18px;
    }
    .title-1 a.button {
        padding: 6px 9px;
        margin-top: .5rem;
        margin-bottom: .9rem;
    }
    .title-2 h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .title-2 p {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        align-items: center;
    }
    .title h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }
    .features-content p {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }
    .body-text2 {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }
    .body-text {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
    .title3 h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }
    .title3 p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
    #sub p {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
}


/*transitions*/

.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-55px);
    }
    100% {
        transform: translateY(0);
    }
}